body {
	font-family: 'Verdana';
}

.mainView {
	margin: 40px auto;
	width: 950px;
}

.header {
	margin-bottom: 30px;
	margin-left: 20px;
}

.homeLink {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.myName {
	font-size: 30px;
	letter-spacing: -1px;
	display: inline-block;	
}

.navPanel {
	line-height: 40px;
	width: 220px;
	float: left;
}

.navOption {
	width: 160px;
	padding: 0px 40px 0px 20px;
	color: black;
	-webkit-transition: color 0.2s linear;
	display: block;
	text-decoration: none;
}

.navOption:hover {
	color: rgb(9,0,255);
}

.optionText {
	margin-left: 5px;
}

.selectedNav {
	background-color: black;
	width: 10px;
	height: 10px;
	display: inline-block;
}

.navSelector {
	opacity: 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: rgb(9,0,255);
	-webkit-transition: opacity 0.2s linear;
}

.navOption:hover .navSelector {
	opacity: 1;
}

.viewPort {
	background: rgba(0,0,0,0.05);
	float: left;
	min-width: 635px;
	padding: 20px;
	margin: 0 20px;
	margin-bottom: 20px;
	width: 635px;
	line-height: 24px;
}

.photoStrip {
	background: black;
	padding: 5px;
	width: 625px;
	height: 100px;
	margin-bottom: 20px;
}

.photoImg {
	margin-right: 5px;
	width: 100px;
	height: 100px;
	float: left;
}

.lastImg {
	margin-right: 0px;
}

#aboutMeImg1 {
	background-image: url('images/avatar_profpic1.jpg');
}
#aboutMeImg2 {
	background-image: url('images/avatar_profpic3.png');
}
#aboutMeImg3 {
	background-image: url('images/avatar_profpic4.png');
}
#aboutMeImg4 {
	background-image: url('images/avatar_profpic2.png');
}
#aboutMeImg5 {
	background-image: url('images/avatar_profpic5.png');
}
#aboutMeImg6 {
	background-image: url('images/avatar_profpic6.png');
}

#clayImg1 {
	background-image: url('images/umbreon.png');
}
#clayImg2 {
	background-image: url('images/avatar_profpic3.png');
}
#clayImg3 {
	background-image: url('images/avatar_profpic4.png');
}
#clayImg4 {
	background-image: url('images/umbreon3.png');
}
#clayImg5 {
	background-image: url('images/whizemmie.png');
}
#clayImg6 {
	background-image: url('images/mm1.png');
}

#foodImg1 {
	background-image: url('images/lasagna.png');
}
#foodImg2 {
	background-image: url('images/avocadopasta.png');
}
#foodImg3 {
	background-image: url('images/valentine.png');
}
#foodImg4 {
	background-image: url('images/pumpkinpie.png');
}
#foodImg5 {
	background-image: url('images/avatar_profpic2.png');
}
#foodImg6 {
	background-image: url('images/shortcake.png');
}

#cs488Img1 {
	background-image: url('cs488/images/final_scene_dof.png');
	background-size: 100px auto;
}
#cs488Img2 {
	background-image: url('cs488/images/pokeball_soft.png');
	background-size: 100px auto;
}
#cs488Img3 {
	background-image: url('cs488/images/sample_refl.png');
	background-size: 100px auto;
}
#cs488Img4 {
	background-image: url('cs488/images/nonhier_gloss.png');
	background-size: 100px auto;
}
#cs488Img5 {
	background-image: url('cs488/images/goodPrimitives.png');
	background-size: 100px auto;
}
#cs488Img6 {
	background-image: url('cs488/images/bump_scene.png');
	background-size: 100px auto;
}

.techItemEval {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 130px;
}

.fullBox {
	width: 10px;
	height: 10px;
	background-color: rgb(9,0,255);
	border: solid black 2px;
	display: inline-block;
}

.emptyBox {
	width: 10px;
	height: 10px;
	background-color: white;
	border: solid black 2px;
	display: inline-block
}

.description {
	margin-left: 30px;
	position: relative;
	top: -2px;
	font-size: 15px;
}

.sectionTitle {
	font-size: 24px;
	letter-spacing: 2px;
}

.subTitle {
	font-size: 18px;
	letter-spacing: 2px;
	padding: 10px 0;
	margin-top: 20px;
}

.subItem {
	background: rgba(0,0,0,0.05);
	margin-left: 10px;
	padding: 10px;
	width: 595px;
}

.legend {
	margin-left: 10px;
	padding: 0 10px;
	width: 595px;
}

.subContent {
	padding: 10px 0 5px 0;
}

.extLink {
	text-decoration: none;
	color: rgb(46,143,255);
}

.extImgLink {
	display: inline-block;
	text-decoration: none;
	color: rgb(46,143,255);
//	-webkit-transition: opacity 0.2s linear;
	-webkit-transition: border 0.2s ease-out;
	border: 3px solid black;
//	opacity: 0.75;
}

.extImgLink:hover {
//	opacity: 1.0;
	border: 3px solid rgb(46,143,255);
}

.galleryItem {
	width: 200px;
	height: auto;
	float: left;
}

.galleryBlock {
//  background-color:black;
  display: inline-block;
}

.overlay {
  opacity: 0.7;
  background-color: black;
  width: 200px;
  position: absolute;
  color: white;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.2em;
  padding: 7px 0;
}
